footer{
    background-color: black;
    .caja-texto-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
    h2{
        color: white;
        font-family: avantgarde;
        text-align: center;
    }}
}
.partes-redes{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        margin: 20px;
        height: 40px;
        width: 40px;
    }
}